<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>the Family Cook Book | using Angularjs & Bootstrap | By Jesse Rountree</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- EXTERNAL LINKS -->	
		<!-- FONTS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat:400,600" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/responsive.css">	
	<!-- SCRIPTS -->
		<!-- jQuery & Angularjs -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
		
		<!--Bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

	
	<!-- FAVICON -->
		<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
	</head>
	<body ng-app="ngCookbook" ng-controller="cookbookcontroller">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			    <div class="navbar-header">
					<a class="navbar-brand" href="#">the Family Cookbook</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<!--  * Disabled for now, feature coming 
						<li><a href="#">Featured Savory</a></li>
						<li><a href="#">Featured Dessert</a></li>
					-->
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="toggleSignUpon()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#" ng-click="toggleLogIn()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			    </ul>
		  </div>
		</nav>
		<div class="log-in off" ng-class="logIn">
			<div class="login-form-container">
				<i class="fa fa-times removeItem upRight" aria-hidden="true" ng-click="toggleLoginOn()"></i>
				<h1>Member Log In</h1>
				<form class="loginForm">
					<label>Email: </label>
					<input type="text" name="email" value="">
					<label>Password: </label>
					<input type="password" name="password" value="">
					<button type="submit" class="signup-btn" ng-click="toggleLoginOn()" ng-class="logInOn"> Submit </button>
				</form>
			</div>
		</div>



		<div class="sign-up off" ng-class="signUpOn">
			<div class="sign-up-form-container">
				<i class="fa fa-times removeItem upRight" aria-hidden="true" ng-click="toggleSignUp()"></i>
				<h1>Sign Up Today</h1>
				<h2>Share and Create Great Recipes</h2>
				<form class="signupForm">
					<label>First name: </label>
					<input type="text" name="firstName" value="">
					<label>Last name: </label>
					<input type="text" name="lastName" value="">
					<label>Email: </label>
					<input type="text" name="email" value="">
					<h3>Request to join a family</h3>
					<label>Family name to join: </label>
					<input type="text" name="joinFamilyName" value="">
					<h3>Start a Family Group</h3>
					<label>Family name to start: </label>
					<input type="text" name="startFamilyName" value="">

					<button type="submit" class="signup-btn" ng-click="toggleSignUp()" ng-class="signUpOn"> Submit </button>
				</form>
			</div>
		</div>
			
		<div class="content-container clearfix">
			<div class="tab">
				<a link="#" class="" ng-class="recipeActive" ng-click="toggleRecipeOn()">Recipe Sheet</a>
				<a link="#" class="" ng-class="editActive" ng-click="toggleEditOn()">Edit Recipe <i class="fa fa-pencil-square fa-lg mr-md-4"> </i></a>
			</div>	
	<!-- Recipe Sheet -->
		<div class="tabsheet clearfix" ng-class="recipeOn" ng-repeat="recipe in cookBookdata">
		<section class="img-section left-align clearfix" ng-controller="imgNav">
		<div class="img-container" ><img ng-src="{{imgDisplay}}" alt="{{imgDisplay}}" ng-if="!!imgDisplay" /></div>
			<div class="img-nav-container" > 
				<a href="" ng-repeat="img in recipe.imageList" data="{{$index}}" ng-click="imgSelect($event)"><img ng-src="{{img.imgUrl}}" alt="{{img.imgUrl}}"/></a>
			</div>
		</section>
		<section class="recipe-review right-align clearfix" >
			<div class="recipe-header" ng-controller="rateCtrl">
				<h1>{{recipe.name}}</h1>
				<ul class="stars" ng-model="rating" ng-bind-html="starRating">

				</ul>
				<h2>Recipe By: {{recipe.recipeBy}}</h2>
			</div>
			<div class="recipe-summery">
				<p>{{recipe.description}}</p>
			</div>

		</section>
		<section class="recipe left-align clearfix">
			<div class="recipe-lefthalf left-align clearfix">
				<div class="direct-overview">
					<h4>Cooking Specs</h4>
					<div ng-repeat="spec in recipe.specs">
						<ul>
							<li >{{spec.specName}}</li>						
						</ul>
						<ul>
							<li>{{spec.specData}}</li>
						</ul>
					</div>
				</div>
				<div class="section-header">
					<h3>Ingredients</h3>
				</div>
				<div class="ingredient-item left-ing clearfix">
					<h4>Ingredient</h4>
					<ul>
						<li ng-repeat="item in recipe.ingredients">{{item.type}}</li>	
					</ul>
				</div>
				<div class="ingredient-item mid-ing clearfix">
					<h4>Measurement</h4>
					<ul>
						<li ng-repeat="qty in recipe.ingredients">{{qty.measure}}</li>
					</ul>
				</div>
				<div class="ingredient-item right-ing clearfix">
					<h4></h4>
					<ul>
						<li ng-repeat="type in recipe.ingredients">{{type.measureType}}</li>
					</ul>
				</div>
				<div class="special-notes">
					<p><b>&star;</b> {{recipe.note}}</p>
				</div>
				<div class="ingredient-item left-ing clearfix">
					<h4>Tools</h4>
					<ul>
						<li ng-repeat="tool in recipe.tools">{{tool.tool}}</li>
					</ul>
				</div>
				<div class="ingredient-item tools-right clearfix">
					<h4></h4>
					<ul>
						<li ng-repeat="type in recipe.tools">{{type.use}}</li>
					</ul>
				</div>	
			</div>
			<div class="recipe-righthalf right-align clearfix">
				<div class="section-header">
					<h3>Directions</h3>
				</div>

				<div class="direct-step" ng-repeat="step in recipe.directions">
					<h4>{{step.header}}</h4>
					<p>{{step.ptag}}</p>
					
				</div>
			</div>
		</section>
	</div> <!-- End Recipe Sheet -->
	<!-- Edit Sheet Sheet -->
	<div class="tabsheet clearfix off scrollAdj" ng-class="editOn" ng-repeat="recipe in cookBookdata" ng-controller="editcontroller">
		<section class="editing-section">
			<div class="form-tab" ng-model="selected_value">

				<option ng-click="usrSelect('Ingredients')" class="inactive" ng-class="tab1" value="Ingredients">Add Ingredient</a>
				<option ng-click="usrSelect('Tools')" class="inactive" ng-class="tab2" value="Tools">Add Tool</a>
				<option ng-click="usrSelect('Specs')" class="inactive" ng-class="tab3" value="Cooking Specs">Add Specs</a>
				
			</div>	
			<div class="form-sheet" ng-class="sheet1On">

				<form name="frmIng" ng-submit="addItemToList()" novalidate>
					<div class="form-section">
						<label for="ingredient">Ingredient</label>
						<input type="text" name="newIngredient" ng-model="newIngredient" required />
					</div>
					<div class="form-section">
						<label for="quantity">Quantity</label>
						<input type="text" name="newQty" ng-model="newQty" required />
					</div>
					<div class="form-section">
						<label for="msr_type">Type of Measurement</label>
						<input type="text" name="newType" ng-model="newType" required />
					</div>
						<button class="form-btn" ng-disabled="frmIng.$invalid || frmIng.$pending" ng-click="popupAddOn()">
							<i class="fa fa-plus-square fa-lg mr-md-4"> </i> 
							Ingredient 
						</button>
				</form>
			</div>
			<div class="form-sheet off" ng-class="sheet2On">
				<form name="frmTool" ng-submit="addItemToList()" novalidate>
					<div class="form-section">
						<label for="tool">Tool</label>
						<input type="text" id="tool" name="newTool" ng-model="newTool" required />
					</div>
					<div class="form-section">
						<label for="tool_use">Tool Use</label>
						<textarea id="tool_use" name="newToolUse" ng-model="newToolUse" required /></textarea>
					</div>
					<button class="form-btn" ng-disabled="frmTool.$invalid || frmTool.$pending" ng-click="popupAddOn()">
							<i class="fa fa-plus-square fa-lg mr-md-4"> </i> 
							Tool 
						</button>
				</form>
			</div>
			<div class="form-sheet off" ng-class="sheet4On">
				<form name="frmSpec" ng-submit="addItemToList()" novalidate>
					<div class="form-section">
						<label for="spec">Cooking Spec</label>
						<input type="text" id="spec" name="newSpecName" ng-model="newSpecName" required />
					</div>
					<div class="form-section">
						<label for="spec_specific">Degrees / Time / etc</label>
						<textarea id="spec_specific" id="spec" name="newSpecData" ng-model="newSpecData" required /></textarea>
					</div>
					<button class="form-btn" ng-disabled="frmSpec.$invalid || frmSpec.$pending" ng-click="popupAddOn()">
							<i class="fa fa-plus-square fa-lg mr-md-4"> </i> 
							Cooking Spec 
						</button>
				</form>
			</div>

			<div class="popupAdditem off" ng-class="popupAddOff">
				<h3>Your item has been added!</h3>
				<div class="popupAddBtn">
					<p ng-click="popupAddOffbtn()">Close</p>
				</div>
			</div>
		</section>
		<section class="recipeSelection clearfix">
			<div class="selectedHeader">
				<button ng-click="clearitem()" >Delete Selected</button>
				<h1>{{usrSelectedItem}}</h1>				
			</div>
			<div class="selectedData">
				<ul class="list-group" ng-class="liGroup01" >
					<li class="editItem list-group-item" ng-class="keep" ng-repeat="item in recipe.ingredients">
						<input type="checkbox" ng-model="item.done" />
						<ul class="list-group-edit-container">	
							<li ng-class="{'done':item.done}">
								<i class="fa fa-pencil-square"> </i>
								<span ng-class="{'done':item.done}" class="listItem">
									<span class="left-item" ng-click="editListItem()">
										<edit-in-place value="item.type"></edit-in-place>
									</span>
									<span class="mid-item" >
										<edit-in-place value="item.measure"></edit-in-place>
									</span>
									<span class="right-item" >
										<edit-in-place value="item.measureType"></edit-in-place></span>
								</span>
								
							</li>
						</ul>
					</li>	
				</ul>

				<ul class="list-group" ng-class="liGroup02" >
					<li class="editItem list-group-item" ng-class="keep" ng-repeat="item in recipe.tools" >
						<input type="checkbox" ng-model="item.done" />
						<ul class="list-group-edit-container">
							<li ng-class="{'done':item.done}">
								<i class="fa fa-pencil-square"> </i>
								<span ng-class="{'done':item.done}" class="listItem">
									<span class="left-item" ng-click="editListItem()">
										<edit-in-place value="item.tool"></edit-in-place>
									</span>
									<span class="right-item" >
										<edit-in-place value="item.use"></edit-in-place>
									</span>
								</span>
							</li>
						</ul>
					</li>	
				</ul>

				<ul class="list-group" ng-class="liGroup03" >
					<li class="editItem list-group-item" ng-class="keep" ng-repeat="item in recipe.directions" >
						<input type="checkbox" ng-model="item.done" />
						<ul class="list-group-edit-container">
							<li ng-class="{'done':item.done}">
								<i class="fa fa-pencil-square"> </i>
								<span ng-class="{'done':item.done}" class="listItem">
									<span class="left-item" ng-click="editListItem()">
										<edit-in-place value="item.header"></edit-in-place>
									</span>
									<span class="right-item" >
										<edit-in-place value="item.ptag"></edit-in-place>
									</span>
								</span>	
							</li>
						</ul>
					</li>	
				</ul>

				<ul class="list-group" ng-class="liGroup04" >
					<li class="editItem list-group-item" ng-class="keep" ng-repeat="item in recipe.specs" >
						<input type="checkbox" ng-model="item.done" />
						<ul class="list-group-edit-container">
							<li ng-class="{'done':item.done}">
								<i class="fa fa-pencil-square"> </i>
								<span ng-class="{'done':item.done}" class="listItem">
									<span class="left-item" ng-click="editListItem()">
										<edit-in-place value="item.specName"></edit-in-place>
									</span>
									<span class="right-item" >
										<edit-in-place value="item.specData"></edit-in-place>
									</span>
								</span>	
								
							</li>
						</ul>	
					</li>	
				</ul>
			</div> <!-- End selectedData -->
		</section>
	</div>	<!-- End Edit Sheet -->
</div>	
<!--Footer-->
<footer class="page-footer indigo center-on-small-only pt-0">
    <!--Footer Links-->
    <div class="container">
        <!--First row-->
        <div class="row">
            <!--First column-->
            <div class="col-md-12">
                <div class="footer-socials mb-5 flex-center">
                    <!--Facebook-->
                    <a class="icons-sm fb-ic" href="http://jesserountree.com/" title="My Portfolio" target="_blank"><i class="fa fa-qq fa-lg mr-md-4"> </i></a>
                    <!--Google +-->
                    <a class="icons-sm gplus-ic" href="https://github.com/jrountree" title="My Github" target="_blank"><i class="fa fa-github fa-lg mr-md-4"> </i></a>
                    <!--Linkedin-->
                    <a class="icons-sm li-ic" href="https://www.linkedin.com/in/jesserountree/" title="My LinkedIn" target="_blank"><i class="fa fa-linkedin fa-lg mr-md-4"> </i></a>
                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            &copy;<a href="http://www.jesserountree.com" title="My Portfolio Site" target="_blank"> Jesse Rountree</a>: 2018
        </div>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->

<!-- LOCAL SCRIPTS -->
		<script src="scripts/app.js"></script>
		<script src="scripts/cookbookController.js"></script>
		<script src="scripts/cookbookFactory.js"></script>
		<script src="scripts/directives/directives.js"></script>
		<script src="scripts/controllers/main.js"></script>
	
	</body>
</html>
